.Recipe {
    width: 300px;
    padding: 16px;
    text-align: center;
    border: 1px solid gray;
    border-radius: 4px;
    box-shadow: 0 2px 4px #ccc;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.Recipe:hover, .Recipe:active {
    border: 1px solid blue;
}

.Recipe img{
    max-width: 100%;
}
